
    html, body {
		margin: 0;
		padding: 0;
		font-family: 'Numans'; sans-serif;
	}
	
	#map {
		position: absolute;
		height: 95%;
		width: 100%;
		background-color: #fff;
		cursor: crosshair !important;
		z-index: 0;
	}


	#inibg	{
		position:fixed;
	    left:0;
		right:0;
		bottom:0;
		top:0;
		margin:auto;	
		z-index: 1000;
		width: 100%;
		height: 100%;
		# background:rgba(0,76,153,1);
		background:rgba(240,240,240,1);
	}
		
	body{
		font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
		font-weight: 400;
		font-size: 15px;
		color: #393b40;
	}	
			
	#header {
		width: 100%;
		height: 40px;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(left, #ffffff 29%, #000000 62%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #ffffff 29%,#000000 62%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #ffffff 29%,#000000 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
	}

    #header .logo {
		padding: 0px;
		font-size: 23px;
    }

	#crosssectiondiv{
		z-index: 3; 
		position: absolute; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 960px;
		height: 500px;
	    left:30px;
		bottom:10px;		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 0px;
		padding-left: 10px; 
		color: black;
	}	
			
	#floatingDivVariablesbody{
		z-index: 3; 
		position: absolute; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 320px;
		height: 75%;
	    left:10px;
		top:10%;		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 10px; 
		color: black;
		}
		
	#floatingDivVariables{
		z-index: 3; 
		position: relative; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 300px;
		height: 85%;	
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 10px; 
		color: black;
		overflow-y:auto;
		}
		
	#floatingDivSatellitebody{
		z-index: 3; 
		position: absolute; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 230px;
		height: 62%;
		right:10px;
		top:10%;		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 10px; 
		color: black;
		}
		
	#floatingDivSatellite{
		z-index: 3; 
		position: relative; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 210px;
		height: 85%;	
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 10px; 
		color: black;
		overflow-y:auto;
	}
	
	#floatingDivCrossSection{
		z-index: 3; 
		position: absolute; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 210px; 
		left:400px;
		top:10%;		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 10px; 
		color: black;
	}
	
	#floatingDivSearch{
		z-index: 3; 
		position: fixed; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 450px; 
		height: 100px;
	    left:0;
		right:0;
		bottom:0;
		top:0;
		margin:auto;		
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 45px;
		padding-left: 0px; 
		color: white;
	}
	
	#floatingDivScaletemp{
		z-index: 3; 
		position: absolute; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 0px;
		width: 314px; 
		height: 23px;
		right: 10px;
		bottom: 70px;
		margin:auto;		
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px; 
		color: white;
	}
	
	#floatingDivScaleradar{
		z-index: 3; 
		position: absolute; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 0px;
		width: 314px; 
		height: 55px;
		right: 10px;
		bottom: 70px;
		margin:auto;		
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px; 
		color: white;
	}
	
	.xButton {
		-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
		-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
		box-shadow:inset 0px 1px 0px 0px #cf866c;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
		background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
		background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
		background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
		background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
		background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
		background-color:#d0451b;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #942911;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:13px;
		padding:4px 8px;
		text-decoration:none;
		text-shadow:0px 1px 0px #854629;
	}
	.xButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
		background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
		background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
		background-color:#bc3315;
	}
	.xButton:active {
		position:relative;
		top:1px;
	}

	.mnButton {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
		background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
		background-color:#ffffff;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #dcdcdc;
		display:inline-block;
		cursor:pointer;
		color:#666666;
		font-family:Arial;
		font-size:13px;
		padding:3px 8px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffffff;
	}
	.mnButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
		background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
		background-color:#f6f6f6;
	}
	.mnButton:active {
		position:relative;
		top:1px;
	}
	
	#controlFlotante {
		z-index: 4; 
		float:left;
		top:1px;
		right:0px;
		position: fixed;
	}

	.btn {
		-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
		-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
		box-shadow:inset 0px 1px 0px 0px #54a3f7;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
		background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
		background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
		background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
		background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
		background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
		background-color:#007dc1;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #124d77;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:13px;
		padding:6px 8px;
		text-decoration:none;
		text-shadow:0px 1px 0px #154682;
	}
	.btn:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
		background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
		background-color:#0061a7;
	}
	.btn:active {
		position:relative;
		top:1px;
	}
	.btnActive {
		-moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
		-webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
		box-shadow:inset 0px 1px 0px 0px #3dc21b;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
		background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
		background-color:#44c767;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #18ab29;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:13px;
		padding:6px 8px;
		text-decoration:none;
		text-shadow:0px 1px 0px #2f6627;
	}
	.btnActive:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
		background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
		background-color:#5cbf2a;
	}
	.btnActive:active {
		position:relative;
		top:1px;
	}	
	.btn-right {
		background-color: #ddd;
		border: none;
		color: black;
		padding: 2px 6px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin: 2px 2px;
		cursor: pointer;
		border-radius: 6px;
		float:right;
	}
	.btn-right:hover {
		background-color: #f1f1f1;
	}
	#cva500layer{
	    -webkit-filter: invert(100%);
		-o-filter: invert(100%);
		-moz-filter: invert(100%);
		-ms-filter: invert(100%);
		filter: invert(100%);
	}
	#rv500layer{
	    -webkit-filter: invert(100%);
		-o-filter: invert(100%);
		-moz-filter: invert(100%);
		-ms-filter: invert(100%);
		filter: invert(100%);
	}
	#div1000layer{
	    -webkit-filter: invert(100%);
		-o-filter: invert(100%);
		-moz-filter: invert(100%);
		-ms-filter: invert(100%);
		filter: invert(100%);
	}
	#h300layer{
	    -webkit-filter: invert(100%);
		-o-filter: invert(100%);
		-moz-filter: invert(100%);
		-ms-filter: invert(100%);
		filter: invert(100%);
	}
	#gridlayerw{ 
	    -webkit-filter: invert(100%);
		-o-filter: invert(100%);
		-moz-filter: invert(100%);
		-ms-filter: invert(100%);
		filter: invert(100%);
	}	
	/*#thicknesslayer{
		-webkit-filter: hue-rotate(60deg) brightness(50%);
		-moz-filter:  hue-rotate(180deg) brightness(50%);
		filter:  hue-rotate(270deg) brightness(150%);
	*/	
	}
	#t500layer{
		-webkit-filter: hue-rotate(60deg) brightness(50%);
		-moz-filter:  hue-rotate(180deg) brightness(50%);
		filter:  hue-rotate(270deg) brightness(150%);
	}
	#thetalayer{
		-webkit-filter: hue-rotate(60deg) brightness(50%);
		-moz-filter:  hue-rotate(180deg) brightness(50%);
		filter:  hue-rotate(270deg) brightness(150%);
	}
	#ir108e_layer{
		opacity: 0.85;
		mix-blend-mode: multiply;
	}
	.invertcolor{
		-webkit-filter: contrast(165%) brightness(80%);
		-moz-filter: contrast(165%) brightness(80%);
		filter: contrast(165%) brightness(80%);
	}
	/* Clearfix */
	.clear:before, .clear:after {
		content: " ";
		display: table;
	}

	.clear:after {
		clear: both;
	}

	.clear {
		*zoom: 1;
	}

	a#pull {
		display: none;
	}
	nav {
		height: 37px;
		width: 100%;
		background: rgba(0,0,0,0);
		position: relative;
	}

	nav ul {
		padding: 0;
		margin: 0 auto;
		width: 270px;
		height: 40px;
	}

	nav li {
		display: inline;
		float: left;
	}

	nav a {
		color: #FFF;
		display: inline-block;
		width: 100px;
		text-align: center;
		line-height: 40px;
	}

	nav li a {
		border-right: 0;
	}

	nav li:last-child a {
		border-right: 0;
	}

	nav a:hover, nav a:active {
		background-color: rgba(0,0,0,0);
	}
	@media only screen and (max-width : 1000px) {
		nav {
			border-bottom: 0;
			height: auto;
		}

		nav ul {
			display: none;
			height: auto;
			width: 30px;
		}

		nav li {
			width: 100px;
			float: left;
			position: relative;
		}

		nav a {
			text-align: left;
			width: 100px;
			text-indent: 25px;
		}

		nav a#pull {
			display: block;
			background-color: rgba(0,0,0,0);
			width: 17px;
			height: 17px;
			position: relative;
		}

		nav a#pull:after {
			content:"";
			width: 30px;
			height: 30px;
			display: inline-block;
			position: absolute;
			right: 15px;
			top: 10px;
		}
	}
	#navg {
		z-index: 5; 
		float:left;
		top:3px;
		right:100%;
		position: absolute;
	}	