
    html, body {
		margin: 0;
		padding: 0;
		font-family: 'Numans'; sans-serif;
	}
	
	#map {
		position: absolute;
		height: 95%;
		width: 100%;
		background-color: #fff;
		cursor: crosshair !important;
		z-index: 0;
	}	
		
	body{
		font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
		background: #e0e3ec url(images/bgnoise_lg.jpg) repeat top left;
		font-weight: 400;
		font-size: 15px;
		color: #393b40;
	}	
			
	#header {
		width: 100%;
		height: 40px;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(left, #ffffff 29%, #000000 62%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #ffffff 29%,#000000 62%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #ffffff 29%,#000000 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
	}

    #header .logo {
		padding: 3px;
		font-size: 25px;
    }

	#crosssectiondiv{
		z-index: 3; 
		position: absolute; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 960px;
		height: 500px;
	    left:30px;
		bottom:10px;		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 0px;
		padding-left: 10px; 
		color: black;
	}	
			
	#floatingDivVariablesbody{
		z-index: 3; 
		position: absolute; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 320px;
		height: 75%;
	    left:30px;
		top:100px;		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 10px; 
		color: black;
		}
		
	#floatingDivVariables{
		z-index: 3; 
		position: relative; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 300px;
		height: 85%;	
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 10px; 
		color: black;
		overflow-y:auto;
		}
		
	#floatingDivSatellite{
		z-index: 3; 
		position: absolute; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 210px; 
		right:30px;
		top:100px;		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 10px; 
		color: black;
	}
	
	#floatingDivCrossSection{
		z-index: 3; 
		position: absolute; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 210px; 
		left:400px;
		top:100px;		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 10px; 
		color: black;
	}
	
	#floatingDivSearch{
		z-index: 3; 
		position: fixed; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 450px; 
		height: 100px;
	    left:0;
		right:0;
		bottom:0;
		top:0;
		margin:auto;		
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 45px;
		padding-left: 0px; 
		color: white;
	}
	
	#divinfo{
		z-index: 3; 
		position: absolute; 
		background: rgba(244, 244, 244, 0.7);
		border-radius: 15px;
		width: 300px; 
		right:300px;
		top:100px;		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 10px; 
		color: black;
	}
	
	.xButton {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
		background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
		background-color:#ffffff;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #dcdcdc;
		display:inline-block;
		cursor:pointer;
		color:#666666;
		font-family:Arial;
		font-size:15px;
		padding:3px 7px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffffff;
	}
	.xButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
		background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
		background-color:#f6f6f6;
	}
	.xButton:active {
		position:relative;
		top:1px;
	}

	.mnButton {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
		background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
		background-color:#ffffff;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #dcdcdc;
		display:inline-block;
		cursor:pointer;
		color:#666666;
		font-family:Arial;
		font-size:13px;
		padding:3px 8px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffffff;
	}
	.mnButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
		background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
		background-color:#f6f6f6;
	}
	.mnButton:active {
		position:relative;
		top:1px;
	}
	
	#controlFlotante {
		z-index: 4; 
		float:left;
		top:1px;
		right:0px;
		position: fixed;
	}

	.blueButton {
		-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
		-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
		box-shadow:inset 0px 1px 0px 0px #54a3f7;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
		background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
		background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
		background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
		background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
		background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
		background-color:#007dc1;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #124d77;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:13px;
		padding:6px 8px;
		text-decoration:none;
		text-shadow:0px 1px 0px #154682;
	}
	.blueButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
		background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
		background-color:#0061a7;
	}
	.blueButton:active {
		position:relative;
		top:1px;
	}
	.blueButtonActive {
		-moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
		-webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
		box-shadow:inset 0px 1px 0px 0px #3dc21b;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
		background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
		background-color:#44c767;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #18ab29;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:13px;
		padding:6px 8px;
		text-decoration:none;
		text-shadow:0px 1px 0px #2f6627;
	}
	.blueButtonActive:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
		background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
		background-color:#5cbf2a;
	}
	.blueButtonActive:active {
		position:relative;
		top:1px;
	}	
	
	#cva500layer{
	    -webkit-filter: invert(100%);
		-o-filter: invert(100%);
		-moz-filter: invert(100%);
		-ms-filter: invert(100%);
		filter: invert(100%);
	}
	#rv500layer{
	    -webkit-filter: invert(100%);
		-o-filter: invert(100%);
		-moz-filter: invert(100%);
		-ms-filter: invert(100%);
		filter: invert(100%);
	}
	#div1000layer{
	    -webkit-filter: invert(100%);
		-o-filter: invert(100%);
		-moz-filter: invert(100%);
		-ms-filter: invert(100%);
		filter: invert(100%);
	}
	#h300layer{
	    -webkit-filter: invert(100%);
		-o-filter: invert(100%);
		-moz-filter: invert(100%);
		-ms-filter: invert(100%);
		filter: invert(100%);
	}
	#gridlayerw{ 
	    -webkit-filter: invert(100%);
		-o-filter: invert(100%);
		-moz-filter: invert(100%);
		-ms-filter: invert(100%);
		filter: invert(100%);
	}	
	#thicknesslayer{
		-webkit-filter: hue-rotate(60deg) brightness(50%);
		-moz-filter:  hue-rotate(180deg) brightness(50%);
		filter:  hue-rotate(270deg) brightness(150%);
	}
	#wv62layer{	
		-webkit-filter: contrast(150%) brightness(90%);
		-moz-filter: contrast(150%) brightness(90%);
		filter: contrast(150%) brightness(90%);
	}
	#t500layer{
		-webkit-filter: hue-rotate(60deg) brightness(50%);
		-moz-filter:  hue-rotate(180deg) brightness(50%);
		filter:  hue-rotate(270deg) brightness(150%);
	}
	#thetalayer{
		-webkit-filter: hue-rotate(60deg) brightness(50%);
		-moz-filter:  hue-rotate(180deg) brightness(50%);
		filter:  hue-rotate(270deg) brightness(150%);
	}	